a.btn{
  color: #fff !important;
  cursor: pointer;
}
table.table-top td span {
    border: 1px solid #000;
    padding: 0px 10px 0px 5px;
    margin-right: -1px;
}
table.table-top td span:first-child{
    border:none
}

table.table-top td {
    display: flex;
    margin-right: 15px;
}
table.table-top td:last-child {
    margin: 0;
}
table.table-top tr {
    display: flex;
    justify-content: flex-start;
}

.table-radio .radio,
.table-radio .radio__label,
.table-radio .radio__label:after,
.table-radio .radio__label:before {
  box-sizing: border-box;
}

.table-radio .radio__container:nth-child(1) {
  padding-bottom: 35px;
  margin-bottom: 28px;
  border-bottom: 1px dotted #dbdbdb;
}

.table-radio .radio-inline {
  display: inline-block;
  width: 100%;
}
.table-radio .radio {
  display: none;
  opacity: 0;
  width: 0;
  margin: 0;
  overflow: hidden;
  -webkit-appearance: none;
}
.table-radio .radio__label {
      border: 1px solid #000;
      height: 32px;
  width: 100%;
  display: inline-block;
  position: relative;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  vertical-align: bottom;
  color: #000;
  font: 300 14px/20px Helvetica, Arial, sans-serif;
  transition: color 200ms ease;
}
.table-radio .radio__label:before, .radio__label:after {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: border-color 200ms ease, -webkit-transform 200ms ease;
  transition: transform 200ms ease, border-color 200ms ease;
  transition: transform 200ms ease, border-color 200ms ease, -webkit-transform 200ms ease;
}
.table-radio .radio__label:before {
  right: -30px;
  top: 5px;
  width: 20px;
  height: 20px;
  border: 2px solid #c5c5c5;
}
.table-radio .radio__label:after {
  top: 10px;
  right: -25px;
  width: 10px;
  height: 10px;
  -webkit-transform: scale(0);
  transform: scale(0);
  background-color: #3c91e6;
}
.table-radio .radio__label:hover {
  color: #3c91e6;
}
.table-radio .radio__label:hover:before {
  border-color: #fb872b;
}
.table-radio .radio:checked + .radio__label {
  color: rgba(0, 0, 0, 0.87);
}
.table-radio .radio:checked + .radio__label:before {
  border-color: #3c91e6;
}
.table-radio .radio:checked + .radio__label:after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
table textarea.text-control {
    width: 100%;
}
button.btn {
    cursor: pointer;
}
.not_edit input {
    background: #e1e1e1;
    box-shadow: none;
    border: 1px solid #000;
}
.not-edit table.table-top input {
    background: #e1e1e1;
    border: 1px solid #000;
}
.not-edit .not_edit #checknull{
  display: none !important;
}
.modal-open {
    overflow: scroll !important;
}
.modal-body {
    text-align: center;
}
.print-page textarea {
    background: #fff;
    border: none;
}
.input-yl input {
    background: #ff9;
    border: 1px solid #000;
}
#adfkgj85{
  width: 120px;
  display: block;
  float: left;
  line-height: 30px;
  border: 1px solid #8A8A8A;
  padding:5px;
  border-radius: 5px;
  margin-left: 30px;
}
#adfkgj85 > span{
  text-align: center;
  display: block;
  color: white;
  height: 30px;
  background-color:#1E90FF;
  font-weight: bold;
}
#a2s1{
  width:30px;
  height: 30px;
  float: left;
  margin-top: 6px;
  margin-left: 15px;
}
#md9kfx{
  position: relative;
}
#cvnwefj43{
  position: absolute;
  right: 0;
  width: 200px;
  height: 80px;
  border: 1px solid #CCC;
  border-radius: 5px;
  top: 45px;
  margin-right: 15px;
  background-color: white;
  z-index: 9999;
  display: none;
}
#cvnwefj43 > .row{
  text-align: center;
  height: 40px;
  line-height: 40px;
  width: 100%;
}
#cvnwefj43 > .row > a{
  display: inline-block;
  width: 100%;
  margin-left: 30px;
  text-decoration: none;
}
#cvnwefj43 > .row:first-child > a{
  border-bottom: 1px solid #CCC;
}
.fas:hover{
  cursor: pointer;
}


/*------------------------------------------ responsive ------------------------------------------ */

/*------------------------------------------ 1225px ------------------------------------------ */
@media (max-width : 1225px){
  div.table-cover > table {
    font-size: 14px;
  }
  .th1{
    text-align: center;
    padding: 0;
    width: 110px;
  }
  .th2{
    width: 60px;
  }
  div.table-cover > table > tbody >tr > td.tdDot {
    justify-content: center;
    justify-items: center;
  }
}
/*------------------------------------------ 1175px ------------------------------------------ */
@media (max-width : 1175px){
  .th4{
    text-align: center;
    padding: 0;
    width: 140px;
  }
}
/*------------------------------------------ 1135px ------------------------------------------ */
@media (max-width : 1135px){
  .th3{
    text-align: center;
    width: 100px;
  }
  .th8{
    text-align: center;
    width: 100px;
  }
}
/*------------------------------------------ 1075px ------------------------------------------ */
@media (max-width : 1075px){
  .th5{
    text-align: center;
    width: 110px;
  }
  .th4{
    text-align: center;
    width: 120px;
  }
  .th8{
    text-align: center;
    width: 100px;
  }
}
/*------------------------------------------ 1155px ------------------------------------------ */
@media (max-width : 1155px){
  #tableSearch{
    font-size: 14px;
  }
  .pagination{
    font-size: 14px;
  }
  .table1{
    margin-top: -5px;
  }
  #tableSearch  input[type=button] {
    margin-top:5px !important; 
    width: 65px;
    margin-bottom: 5px;
    padding: 5px;
  }
  #tableSearch > table > tbody > tr > td:first-child  {
    width: 82px !important;
    display: inline-block;
  }
}
/*------------------------------------------ 1086px ------------------------------------------ */
@media (max-width : 1086px){
  #a234xzc{
    max-width: 72%;
    font-size: 13px;
  }
  .pagination{
    font-size: 13px;
  }
  .search-panel-1 , .search-panel-4 , .search-panel-5 , .search-panel-6 {
    padding-top: 5px;
  }
}
/*------------------------------------------ 1040px ------------------------------------------ */
@media (max-width : 1040px){
  #a234xzc{
    font-size: 13px;
  }
}
/*------------------------------------------ 1000px ------------------------------------------ */
@media (max-width : 1000px){
  #a234xzc{
    max-width: 71%;
  }
  div.table-cover > table{
    font-size: 12px;
  }
  .search-panel > tbody > tr > td  {
    font-size: 12px;
  }
  .search-panel input[type=checkbox]{
    width: 14px;
  }
  .th1 {
    width: 97px;
  }
  .th3 {
    width: 90px;
  }
  .th4 {
    width: 100px;
  }
}
/*------------------------------------------ 980px ------------------------------------------ */
@media (max-width : 980px){
  .form_list{
    display: none;
  }
  .form_list_mobile{
    display: block !important;
  }
  .fas{
    font-size: 40px !important;
    padding: 0px 5px;
    border: 1px solid #5c5656;
    border-radius: 3px;
    margin-right: 15px;
  }
  .pag-nav{
    margin: 0 auto !important;
    padding-top: 5px;
  }
  .divPhanTrang  a{
    width: 80px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    display: inline-block;
    margin-left:15px;
    background-color: white;
    border:1px solid #CCC;
    border-radius: 5px;
  }
  .divPhanTrang  a:first-child{   
    margin-left:0px;
  }
  .itemList{
    font-size: 25px;
    border : 1px solid #5c5656;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
  }
  .list{
    padding: 0px 15px;
    margin-top: 20px;
  }
  .rowItem2{
    margin-top: 15px;
  }
  .rowItem2 span{
    margin-left: 20px;
  }
}
    

/*------------------------------------------ 768px ------------------------------------------ */
@media (max-width : 768px){
  #formChangePassword{
    display: none;
  }
  #formChangePasswordMobile{
    display: block !important;
  }
  .table > tbody > tr > td:first-child {
    padding-left: 50px;
  }
  #hjng7s{
    margin-top: 200px !important;
  }
  #jmtxc{
    height: 40px;
    margin-top: 5px !important;
  }
  #iy899{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #jg84c {
    height: 40px;
    margin-top: 5px !important;
  }
  #lokd84 {
    margin-top: -5px;
  }
  #nvhjc{
    padding-bottom: 5px !important;
  }
}

/*------------------------------------------ 710px ------------------------------------------ */
@media (max-width : 710px){
  .container{
    width: 100% !important;
  }
  .header-box{
    width: 100% !important;
  }
  #izra{
    font-size: 25px !important;
  }
  div#nameId , div#password{
    width: 30% !important;
    float: left !important;
    text-align: center;
  }
  div#inputNameId ,div#inputPassword  {
    width: 70% !important;
    float: left !important;
  }
  div#inputNameId > input , div#inputPassword > input{
    width: 80%;
    
  }
  
}

/*------------------------------------------ 576px ------------------------------------------ */
@media (max-width : 576px){
  .container{
    width: 100% !important;
  }
  .header-box{
    width: 100% !important;
  }
  #izra{
    font-size: 25px !important;
  }
  div#nameId , div#password{
    max-width: 30% !important;
    float: left !important;
    text-align: center;
  }
  div#inputNameId ,div#inputPassword  {
    max-width: 70% !important;
    float: left !important;
  }
  div#inputNameId > input , div#inputPassword > input{
    width: 80%;
  }
}
/*------------------------------------------ 520px ------------------------------------------ */
@media (max-width : 520px){
  .itemList {
    font-size: 22px;
  }
}
/*------------------------------------------ 480px ------------------------------------------ */
@media (max-width : 480px){
  .itemList {
    font-size: 20px;
  }
  .fas{
    font-size:30px !important;
    margin-top: 5px;
  }
  #home{
    font-size: 22px;
  }
  #f84jf > input , #f84jfcf > input{
    width: 25px !important;
    height: 25px !important;
  }
  #f84jf > label , #f84jfcf > label {
    font-size: 25px;
  }
  #dfgjf > label{
    font-size: 20px;
  }
  #lokd84{
    margin-top: 10px;
  }
  #a2s1 {
    width: 20px;
    height: 20px;
    margin-top: 10px;
  }
  #adfkgj85 {
    margin-left: 20px;
  }
  .divPhanTrang{
    padding-top: 2px;
  }
  .divPhanTrang a {
    margin-left: 0;
  }
  #kmjs3s{
    height: 40px;
  }
  #hjng7s{
    margin-top: 282px !important;
  }
}
/*------------------------------------------ 425px ------------------------------------------ */
@media (max-width : 425px){
  #home{
    font-size: 18px;
  }
  .fas {
    font-size: 25px !important;
    margin-top: 8px;
  }
  #f84jf > input , #f84jfcf > input{
    width: 20px !important;
    height: 20px !important;
  }
  #f84jf > label , #f84jfcf > label {
    font-size: 20px;
  }
  #dfgjf > label{
    font-size: 17px;
  }
  #adfkgj85{
    width: 80px;
  }
  .divPhanTrang a{
    width: 70px;
  }
  .itemList{
    font-size: 16px;
  }
  .save_list_checkbox{
    width: 18px !important;
    height: 18px !important;
  }
  #formChangePassword{
    display: none;
  }
  #formChangePasswordMobile{
    display: block !important;
  }
  .table > tbody > tr > td:first-child {
    padding-left: 0px;
    text-align: center;
  }
  .table {
    font-size: 12px;
  }
  .table thead tr th:first-child{
    width: 110px;
  }
  #hgjuec{
    margin-top: -18px !important;
    position: absolute;
  }


  #hjng7s{
    margin-top: 155px !important;
  }
  #jmtxc{
    height: 40px;
    margin-top: -20px !important;
  }
  #iy899{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #jg84c {
    height: 40px;
    margin-top: -12px !important;
  }
  #lokd84 {
    margin-top: -5px;
  }
  #nvhjc{
    padding-bottom: 5px !important;
  }

}

/*------------------------------------------ 380px ------------------------------------------ */
@media (max-width : 380px){
  #login-mess-2{
    font-size: 14px;
  }
  #home{
    font-size: 16px;
  }
  .fas {
    font-size: 22px !important;
    margin-top: 12px;
  }
  #f84jf > input , #f84jfcf > input{
    width: 18px !important;
    height: 18px !important;
  }
  #f84jf > label , #f84jfcf > label {
    font-size: 18px;
  }
  #dfgjf > label{
    font-size: 15px;
  }
  #adfkgj85{
    width: 70px;
    height: 32px;
    margin-left: 15px;
  }
  #adfkgj85 > span{
    height: 24px;
    line-height: 24px;
    font-size: 14px;
  }
  #a2s1{
    width: 18px;
    height: 18px;
    margin-top: 8px;
  }
  
  .divPhanTrang{
    padding-top: 0;
  }
  .divPhanTrang a {
    width: 60px;
    height: 34px;
    line-height: 34px;
  }
  #hjng7s{
    margin-top: 243px !important;
  }
  #adfkgj85{
    padding: 3px;
  }
  #jg84c{
    height: 40px;
  }
  .itemList{
    font-size: 14px;
  }
  .c2858{
    width: 300px;
  }
  #izra{
    font-size: 20px !important;
  }
  div#nameId, div#password {
    max-width: 40% !important;
  }
  div#inputNameId, div#inputPassword {
    max-width: 60% !important;
  }
  div#inputNameId > input, div#inputPassword > input {
    width: 100%;
  }
  .table thead tr th:first-child{
    width: 100px;
  }
  .table tbody tr td:first-child{
    text-align: center;
  }
  .message-box{
    font-size: 11px;
  }
  #hgjuec{
    margin-top: -18px !important;
    position: absolute;
  }
}
/*------------------------------------------ 375px ------------------------------------------ */
@media (max-width : 375px){
  #hjng7s{
    margin-top: 142px !important;
  }
}
/*------------------------------------------ 325px ------------------------------------------ */
@media (max-width : 325px){
  #home{
    font-size: 15px;
  }
  .fas{
    font-size: 20px !important;
  }
  #kmjs3s{
    height: 32px;
  }
  #f84jf > label , #f84jfcf > label {
    font-size: 16px;
  }
  .save_list_checkbox{
    width: 16px !important;
    height: 16px !important;
  }
  .itemList{
    padding-top: 10px;
    padding-bottom: 10px;
  }
  #hjng7s{
    margin-top: 134px !important;
  }
  #nvhjc{
    padding-bottom: 5px !important;
  }
  .c2858{
    width: 260px;
  }
  #izra{
    font-size: 17px !important;
  }
  div#inputNameId > input, div#inputPassword > input {
    width: 100%;
  }
  .btn.btn-primary.mb-2{
    margin-right: 55px !important;
  }
  .table thead tr th:first-child{
    width: 90px;
  }
  .table{
    font-size: 11px;
  }
  .message-box{
    font-size: 9px;
  }
  #login-mess-2{
    font-size: 11px;
  }

  #jmtxc{
    height: 40px;
    margin-top: -20px !important;
  }
  #iy899{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #jg84c {
    height: 40px;
    margin-top: -12px !important;
  }
  #lokd84 {
    margin-top: -5px;
  }
}
a:hover{
  cursor: pointer !important;
}